//$main-color: #521751;

$colors: (main: #521751, secondary: #fa923f);
$border-default: 0.05rem solid map-get($colors, main);
$size-default: 1rem;
$size-tiny: 0.2rem;


@import "typography.css";
html {
  font-size: 94.75%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: {
    direction: column;
    wrap: nowrap;
  }
  // flex-direction: column;
  // flex-wrap: nowrap;
  align-items: center;
  padding: $size-default * 3 0;
  box-sizing: border-box;
}

.sass-introduction {
  border: $border-default;
  background: lighten(map-get($colors, main), 70%);
  padding: $size-default * 2;
  text-align: center;
  box-shadow: $size-tiny $size-tiny $size-tiny / 2  #ccc;
  width: 90%;
  box-sizing: border-box;
}

.sass-introduction p {
  margin: 0;
}

.sass-details {
  border: $border-default;
  //lighten 0%-100%
  background: lighten(map-get($colors, main), 70%);
  padding: $size-default;
  text-align: center;
  margin: $size-default * 2 0;
  width: 90%;
  box-sizing: border-box;
}

.section-header {
  border-bottom: $size-tiny / 4 solid map-get($colors, main);
}

.section-header h1 {
  margin: 0 0 $size-default 0;
}

.documentation-links {
  list-style: none;
  margin: $size-default 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  li {
    margin: $size-tiny 0;
    background: white;
  }

  .documentation-link {
    text-decoration: none;
    color: map-get($colors, main);
    display: block;
    padding: $size-tiny;
    border: $border-default;
  }

  .documentation-link:hover,
  .documentation-link:active {
  color: white;
  background: map-get($colors, secondary);
  border-color: map-get($colors, secondary);
}
}

@media (min-width: $size-default * 40) {
  html {
    font-size: 125%;
  }

  .container {
    padding: $size-default * 3 0;
  }

  .sass-introduction,
  .sass-details {
    width: $size-default * 30;
  }
}
