.container {
    margin: 150px auto;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.box {
   
    background: red;
    width: 100%;
    height: 100%;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

