.container {
    margin: 20px;
    display: grid;
    /*"dynamic grid, only columns or rows assigned"*/
    /*we defined 2 columns and 1 row manually, other will be auto*/
    /*grid-template-columns: repeat(2, 15rem); static size of grid elements*/
    /*grid-template-columns: repeat(auto-fill, 15rem);*/
    /*if have less items better to use */
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-template-rows: 20rem; /*we assigned 1st row, other will be auto
    we set it below*/
    justify-content: center;
    grid-gap: 1.5rem;
    /*auto-rows & -cloumns for the cases when we didn't define it ourself */
    /*allows to fo define the size of the
    newly added rows___can be fixed or auto(default)
    in our case: min 8rem and max auto*/
    grid-auto-rows: minmax(8rem, auto);
    /*allows to define where new elements should be added*/
    grid-auto-flow: row;
    /*allows to fo define the size of the
    newly added columns___can be fixed or auto(default)
    in our case: 5rem, this value make sense if grid-auto-flow: column
    im our case it overwritten by explicitly set columns*/
    /*grid-auto-columns: 5rem; /*?can be commented? because aiuto-flow:row*/
}

.quote {
  border: 1px solid #fa923f;
  background: #ffbd87;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 5px;
}

.quote--featured {
  border: #ff4213;
  background: #ff9f87;
  grid-column: span 2;
}
